<html>
	<head>
		<meta charset="utf-8">
		<title>Submiting Form</title>
		<link rel="stylesheet" href="css/app.css">
		<script src="../AngularJs/angular.min.js"></script>
		<script src="js/app.js"></script>
	</head>
	<body ng-app="myApp">
		<div class="maindiv" ng-controller="myCtrl">
			<h1>Submiting Form</h1>
			<form ng-submit="addPersonInfo()">
				<label>Name:</label><input type="text" ng-model="name"><br/>
				<label>Location:</label><input type="text" ng-model="location"><br/>
				<label>Skill:</label><input type="text" ng-model="skill"><br/>
				<input type="submit" value="add">
			</form>
			<table>
				<tr>
					<th>Name</th>
					<th>Location</th>
					<th>Skill</th>
					<th></th>
				</tr>
				<tr ng-repeat="person in persons">
					<td>{{person.name}}</td>
					<td>{{person.location}}</td>
					<td>{{person.skill}}</td>
					<td><a href="" ng-click="removePersonInfo(person)">remove</a></td>
				</tr>
			</table>
		</div>
	</body>
</html>
